*.egg
*.egg-info
*.psql
*.pyc
*.sqlite3
.DS_Store
.idea/*
.venv
.vscode
/*.env*
/build
/cache/
/docs/_build
/fly.*
/media/
/static-collected
/takahe/local_settings.py
__pycache__/
api-test.*
notes.md
notes.py
