django~=4.1
pyld~=2.0.3
pillow~=9.3.0
urlman~=2.0.1
django-crispy-forms~=1.14
cryptography~=38.0
httpx~=0.23
pyOpenSSL~=22.1.0
uvicorn~=0.19
gunicorn~=20.1.0
psycopg2~=2.9.5
bleach~=5.0.1
pytest-django~=4.5.2
pytest-httpx~=0.21
