/* Reset CSS */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
menu {
    margin: 0;
    padding: 0;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: sans-serif;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img,
picture {
    display: inline-block;
}

input,
button,
textarea,
select {
    font: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* Base template styling */

:root {
    --color-bg-main: #26323c;
    --color-bg-menu: #2e3e4c;
    --color-bg-box: #1a2631;
    --color-bg-error: rgb(87, 32, 32);
    --color-highlight: #449c8c;

    --color-text-duller: #5f6983;
    --color-text-dull: #99a;
    --color-text-main: #fff;

    --color-input-border: #000;
    --color-input-border-active: #444b5d;
    --color-button-main: #444b5d;
    --color-button-main-hover: #515d7c;
    --color-bg3: #444b5d;
}

body {
    background-color: var(--color-bg-main);
    color: var(--color-text-main);
    font-family: "Raleway", sans-serif;
    font-size: 16px;
}

main {
    width: 850px;
    margin: 20px auto;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
}

header {
    display: flex;
}

header .logo {
    font-family: "Raleway";
    font-weight: bold;
    background: var(--color-highlight);
    border-radius: 5px 0 0 0;
    padding: 10px 11px 9px 10px;
    height: 50px;
    font-size: 130%;
    color: var(--color-text-main);
    border-bottom: 3px solid rgba(0, 0, 0, 0);
}

header .logo:hover {
    border-bottom: 3px solid rgba(255, 255, 255, 0.3);
}

header .logo img {
    display: inline;
    vertical-align: top;
    margin: 0 3px 0 0;
}

header menu {
    flex-grow: 1;
    display: flex;
    list-style-type: none;
    justify-content: flex-start;
}

header menu a {
    padding: 10px 20px 4px 20px;
    color: #eee;
    line-height: 30px;
    border-bottom: 3px solid rgba(0, 0, 0, 0);
    border-right: 1px solid var(--color-bg-menu);
}

header menu a:hover {
    border-bottom: 3px solid var(--color-highlight);
}

header menu .gap {
    flex-grow: 1;
}

header menu a.identity {
    border-right: 0;
    text-align: right;
    padding-right: 10px;
}

header menu a i {
    margin-right: 10px;
}

header menu a img {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 2px 8px;
    height: 30px;
    width: auto;
}

header menu a small {
    color: var(--color-text-dull);
    font-size: 70%;
}

nav {
    display: flex;
    height: 40px;
    background: var(--color-bg-menu);
}

nav a {
    display: block;
    color: var(--color-text-dull);
    text-transform: uppercase;
    font-weight: bold;
    padding: 9px 18px 9px 18px;
}

nav a.selected {
    color: var(--color-text-main);
    border-bottom: 3px solid var(--color-highlight);
}

nav a:hover {
    color: var(--color-text-main);
}

/* Left-right columns */

.columns {
    display: flex;
}

.left-column {
    flex-grow: 1;
    width: 300px;
    padding: 15px;
}

.right-column {
    width: 250px;
    background: var(--color-bg-menu);
}

.right-column h2 {
    background: var(--color-highlight);
    padding: 8px 10px;
    font-weight: bold;
    font-size: 90%;
    text-transform: uppercase;
}

/* Icon menus */

.icon-menu {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0 0 30px;
}

.icon-menu>a {
    margin: 0px 40px 40px 0;
    background: var(--color-bg-box);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    width: 370px;
    height: 100px;
    line-height: 100px;
    color: inherit;
    text-decoration: none;
    padding: 0 20px;
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 3px;
}

.icon-menu>a:hover {
    border: 2px solid var(--color-highlight);
}

.icon-menu>a img,
.icon-menu>a i {
    vertical-align: middle;
    margin: 0 10px 3px 0;
    height: 50px;
    width: auto;
}

.icon-menu>a i {
    display: inline-block;
    text-align: center;
    width: 50px;
    line-height: 50px;
    font-size: 200%;
}

.handle {
    vertical-align: middle;
    display: inline-block;
    line-height: normal;
}

.handle small {
    display: block;
    color: var(--color-text-dull);
}


/* Forms */

form {
    padding: 20px 40px 20px 30px;
}

.right-column form {
    padding: 0;
}

form h1 {
    margin: 0 0 10px 0;
}

form p {
    color: var(--color-text-main);
    margin: 10px 0 15px 0;
}

form .field {
    margin: 25px 0 25px 0;
    background: var(--color-bg-box);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    padding: 10px 10px;
}

.right-column form .field {
    margin: 0;
    background: none;
    box-shadow: none;
    padding: 0;
}

form label {
    display: block;
    text-transform: uppercase;
    font-size: 100%;
    font-weight: bold;
}

form label small {
    font-size: 80%;
    margin-left: 5px;
    color: var(--color-text-dull);
}

.right-column form label {
    margin: 5px 10px 5px 10px;
}

form .help {
    color: var(--color-text-dull);
    font-size: 90%;
    margin: 2px 0 6px 0;
}

form .errorlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

form .errorlist li {
    color: var(--color-text-main);
    background: var(--color-bg-error);
    border-radius: 3px;
    margin: 5px 0 8px 0;
    padding: 3px 7px;
}

form .errorlist li::before {
    content: "\f071";
    font: var(--fa-font-solid);
    margin-right: 7px;
}

form .hidden {
    display: none;
}

form input,
form select,
form textarea {
    width: 100%;
    padding: 5px 7px;
    background: var(--color-bg-main);
    border: 1px solid var(--color-input-border);
    border-radius: 3px;
    color: var(--color-text-main);
}

.right-column form.compose input,
.right-column form.compose textarea {
    margin: 0 0 10px 0;
    border: 0;
    font-size: 95%;
    border-radius: 0;
    background-color: var(--color-bg-box);
}

.right-column form.compose textarea {
    height: 150px;
}

form input:focus,
form select:focus,
form textarea:focus {
    outline: none;
    border: 1px solid var(--color-input-border-active);
}

form input[type=submit] {
    width: 100%;
    padding: 4px 6px;
    margin: 0 0 10px;
    background: var(--color-button-main);
    border: 0;
    border-radius: 3px;
    color: var(--color-text-main);
    cursor: pointer;
}

form input[type=submit]:hover {
    background: var(--color-button-main-hover);
}

form .buttons {
    text-align: right;
    margin: 25px 0 15px 0;
}

.right-column form .buttons {
    margin: 5px 10px 5px 0;
}

form button,
form .button {
    padding: 5px 10px;
    margin: 0 0 0 5px;
    border-radius: 5px;
    border: 3px solid rgba(255, 255, 255, 0);
    cursor: pointer;
    font-weight: bold;
    background-color: var(--color-highlight);
    color: var(--color-text-main);
    display: inline-block;
}

form button.toggle,
form .button.toggle {
    background: var(--color-bg-main);
}

form button.toggle.enabled,
form .button.toggle.enabled {
    background: var(--color-highlight);
}

form button:hover,
form .button:hover {
    border: 3px solid rgba(255, 255, 255, 0.3);
}

.right-column form button,
.right-column form .button {
    padding: 2px 6px;
}

/* Identities */

h1.identity {
    margin: 0 0 20px 0;
}

h1.identity .icon {
    width: 80px;
    height: 80px;
    float: left;
    margin: 0 20px 0 0;
}

h1.identity small {
    display: block;
    font-size: 80%;
    font-weight: normal;
    color: var(--color-text-dull);
    margin: -10px 0 0 0;
}

.system-note {
    background: var(--color-bg-menu);
    color: var(--color-text-dull);
    border-radius: 3px;
    padding: 5px 8px;
}

.system-note a {
    color: inherit;
}

/* Posts */

.post {
    margin-bottom: 20px;
    overflow: hidden;
}

.left-column .post {
    background: var(--color-bg-box);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.post .icon {
    height: 48px;
    width: auto;
    float: left;
}

.post .handle {
    display: block;
    padding: 7px 0 10px 64px;
}

.post time {
    display: block;
    float: right;
    padding-left: 64px;
    color: var(--color-text-duller);
}

.post .content {
    padding-left: 64px;
}
