{% extends "settings/base.html" %}

{% block subtitle %}{{ domain.domain }}{% endblock %}

{% block content %}
    <form action="." method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>Domain Details</legend>
            {% include "forms/_field.html" with field=form.domain %}
            {% include "forms/_field.html" with field=form.service_domain %}
        </fieldset>
        <fieldset>
            <legend>Access Control</legend>
            {% include "forms/_field.html" with field=form.public %}
            {% include "forms/_field.html" with field=form.default %}
            {% include "forms/_field.html" with field=form.users %}
        </fieldset>
        <fieldset>
            <legend>Admin Notes</legend>
            {% include "forms/_field.html" with field=form.notes %}
        </fieldset>
        <div class="buttons">
            <a href="{{ domain.urls.root }}" class="button secondary left">Back</a>
            <a href="{{ domain.urls.delete }}" class="button delete">Delete</a>
            <button>Save</button>
        </div>
    </form>
{% endblock %}
