{% extends "settings/base.html" %}

{% block title %}Add Domain - Admin{% endblock %}

{% block content %}
    <form action="." method="POST">
        <h1>Add A Domain</h1>
        <p>
            Use this form to add a domain that your users can create identities
            on.
        </p>
        <p>
            Takahē supports multiple domains per server, but note that when
            identities are created they are <b>fixed to their chosen domain</b>,
            and you will <b>not be able to delete a domain with identities on it</b>.
        </p>
        <p>
            For more information about domain setup, including what service
            domains are, see <a href="https://docs.jointakahe.org/en/latest/domains/">our documentation on domains</a>.
        </p>
        {% csrf_token %}
        <fieldset>
            <legend>Domain Details</legend>
            {% include "forms/_field.html" with field=form.domain %}
            {% include "forms/_field.html" with field=form.service_domain %}
        </fieldset>
        <fieldset>
            <legend>Access Control</legend>
            {% include "forms/_field.html" with field=form.public %}
            {% include "forms/_field.html" with field=form.default %}
        </fieldset>
        <div class="buttons">
            <a href="{% url "admin_domains" %}" class="button secondary left">Back</a>
            <button>Create</button>
        </div>
    </form>
{% endblock %}
