{% extends "admin/base_main.html" %}

{% block subtitle %}{{ domain.domain }}{% endblock %}

{% block settings_content %}
    <form action="." method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
            <legend>Domain Details</legend>
            {% include "forms/_field.html" with field=form.domain %}
            {% include "forms/_field.html" with field=form.service_domain %}
        </fieldset>
        <fieldset>
            <legend>Access Control</legend>
            {% include "forms/_field.html" with field=form.public %}
            {% include "forms/_field.html" with field=form.default %}
            {% include "forms/_field.html" with field=form.users %}
        </fieldset>
        <fieldset>
            <legend>Appearance</legend>
            {% include "forms/_field.html" with field=form.site_name %}
            {% include "forms/_field.html" with field=form.site_icon %}
            {% include "forms/_field.html" with field=form.hide_login %}
            {% include "forms/_field.html" with field=form.single_user %}
            {% include "forms/_field.html" with field=form.custom_css %}
        </fieldset>
        <fieldset>
            <legend>Admin Notes</legend>
            {% include "forms/_field.html" with field=form.notes %}
        </fieldset>
        <div class="buttons">
            <a href="{{ domain.urls.root }}" class="button secondary left">Back</a>
            <a href="{{ domain.urls.delete }}" class="button delete">Delete</a>
            <button>Save</button>
        </div>
    </form>
{% endblock %}
