{% extends "settings/base.html" %}

{% block title %}Delete <i class="fa-solid fa-hashtag"></i>{{ hashtag.hashtag }} - Admin{% endblock %}

{% block content %}
    <form action="." method="POST">
        {% csrf_token %}

        <h1>Deleting <i class="fa-solid fa-hashtag"></i>{{ hashtag.hashtag }}</h1>

        <p>Please confirm deletion of this hashtag.</p>
        <div class="buttons">
            <a class="button" href="{{ hashtag.urls.edit }}">Cancel</a>
            <button class="delete">Confirm Deletion</button>
        </div>

{% endblock %}
