{% extends "settings/base.html" %}

{% block subtitle %}Hashtags{% endblock %}

{% block content %}
    <table class="items">
        {% for hashtag in page_obj %}
            <tr>
                <td class="icon">
                    <a href="{{ hashtag.urls.admin_edit }}" class="overlay"></a>
                    <i class="fa-solid fa-hashtag"></i>
                </td>
                <td class="name">
                    <a href="{{ hashtag.urls.admin_edit }}" class="overlay"></a>
                    {{ hashtag.display_name }}
                    <small>{% if hashtag.public %}Public{% elif hashtag.public is None %}Unreviewed{% else %}Private{% endif %}</small>
                </td>
                <td class="stat">
                    {% if hashtag.stats %}
                        {{ hashtag.stats.total }}
                        <small>post{{ hashtag.stats.total|pluralize }}</small>
                    {% endif %}
                </td>
                <td class="stat">
                    {% if hashtag.aliases %}
                        {% for alias in hashtag.aliases %}
                            {{ alias }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                        <small>Aliases</small>
                    {% endif %}
                </td>
                <td class="actions">
                    {% if hashtag.public is not True %}
                        <a hx-post="{{ hashtag.urls.admin_enable }}" title="Make Public"><i class="fa-solid fa-circle-check"></i></a>
                    {% endif %}
                    {% if hashtag.public is not False %}
                        <a hx-post="{{ hashtag.urls.admin_disable }}" title="Make Private"><i class="fa-solid fa-circle-xmark"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% empty %}
            <tr class="empty">
                <td>
                    {% if query %}
                        No hashtags match your query.
                    {% else %}
                        There are no hashtags yet.
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    {% include "admin/_pagination.html" with nouns="hashtag,hashtags" %}
{% endblock %}
