{% extends "settings/base.html" %}

{% block title %}Add hashtag - Admin{% endblock %}

{% block content %}
    <form action="." method="POST">
        <h1>Add A hashtag</h1>
        <p>
            Use this form to add a hashtag.
        </p>
        {% csrf_token %}
        <fieldset>
            <legend>hashtag Details</legend>
            {% include "forms/_field.html" with field=form.hashtag %}
            {% include "forms/_field.html" with field=form.name_override %}
        </fieldset>
        <fieldset>
            <legend>Access Control</legend>
            {% include "forms/_field.html" with field=form.public %}
        </fieldset>
        <div class="buttons">
            <a href="{% url "admin_hashtags" %}" class="button secondary left">Back</a>
            <button>Create</button>
        </div>
    </form>
{% endblock %}
