{% extends "settings/base.html" %}

{% block subtitle %}View Invite{% endblock %}

{% block content %}
    <form action="." method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>Details</legend>
            {% include "forms/_field.html" with field=form.link %}
            {% include "forms/_field.html" with field=form.uses %}
            {% include "forms/_field.html" with field=form.expires_days %}
            {% include "forms/_field.html" with field=form.notes %}
        </fieldset>
        <div class="buttons">
            <a href="{% url "admin_invites" %}" class="button secondary left">Back</a>
            <button class="delete" name="delete">Delete</button>
            <button>Save</button>
        </div>
    </form>
{% endblock %}
