{% extends "settings/base.html" %}
{% load activity_tags %}

{% block subtitle %}Reports{% endblock %}

{% block content %}
    <div class="view-options">
        {% if all %}
            <a href="." class="selected"><i class="fa-solid fa-check"></i> Show Resolved</a>
        {% else %}
            <a href=".?all=true"><i class="fa-solid fa-xmark"></i> Show Resolved</a>
        {% endif %}
    </div>
    <table class="items">
        {% for report in page_obj %}
            <tr>
                <td class="icon">
                    <a href="{{ report.urls.admin_view }}" class="overlay"></a>
                    <img src="{{ report.subject_identity.local_icon_url.relative }}" class="icon" alt="Avatar for {{ report.subject_identity.name_or_handle }}">
                </td>
                <td class="name">
                    <a href="{{ report.urls.admin_view }}" class="overlay"></a>
                    {{ report.subject_identity.html_name_or_handle }}
                    {% if report.subject_post %}
                        <small>
                            Post on {{ report.subject_post.published }}
                        </small>
                    {% endif %}
                </td>
                <td class="stat">
                    {{ report.type|title }}
                    <small>Type</small>
                </td>
                <td class="stat">
                    {{ report.created|timedeltashort }}
                    <small>Reported</small>
                </td>
            </tr>
        {% empty %}
            <tr class="empty">
                <td>
                    There are no {% if all %}reports yet{% else %}unresolved reports{% endif %}.
                </td>
            </tr>
        {% endfor %}
    </table>
    <div class="pagination">
        {% if page_obj.has_previous %}
            <a class="button" href=".?page={{ page_obj.previous_page_number }}{% if all %}&amp;all=true{% endif %}">Previous Page</a>
        {% endif %}
        {% if page_obj.paginator.count %}
            <span class="count">{{ page_obj.paginator.count }} report{{page_obj.paginator.count|pluralize }}</span>
        {% endif %}
        {% if page_obj.has_next %}
            <a class="button" href=".?page={{ page_obj.next_page_number }}{% if all %}&amp;all=true{% endif %}">Next Page</a>
        {% endif %}
    </div>
{% endblock %}
