{% extends "settings/base.html" %}
{% load activity_tags %}

{% block subtitle %}Users{% endblock %}

{% block content %}
    <form action="." class="search">
        <input type="search" name="query" value="{{ query }}" placeholder="Search by email">
        <button><i class="fa-solid fa-search"></i></button>
    </form>
    <table class="items">
        {% for user in page_obj %}
            <tr>
                <td class="icon">
                    <a href="{{ user.urls.admin_edit }}" class="overlay"></a>
                    <i class="fa-solid fa-user"></i>
                </td>
                <td class="name">
                    <a href="{{ user.urls.admin_edit }}" class="overlay"></a>
                    {{ user.email }}
                    <small>{% if user.admin %}Admin{% elif user.moderator %}Moderator{% endif %}</small>
                </td>
                <td class="stat">
                    {{ user.num_identities }}
                    <small>
                        identit{{ user.num_identities|pluralize:"y,ies" }}
                    </small>
                </td>
                <td class="actions">
                    {% if user.banned %}
                        <span class="bad">Banned</span>
                    {% endif %}
                </td>
            </tr>
        {% empty %}
            <tr class="empty">
                <td>
                    {% if query %}
                        No users match your query.
                    {% else %}
                        There are no users yet.
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    {% include "admin/_pagination.html" with nouns="user,users" %}
{% endblock %}
