@font-face {
    font-family: 'Raleway';
    src: url('Raleway-Bold.woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('Raleway-Regular.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('Raleway-Light.woff2');
    font-weight: lighter;
    font-style: normal;
}
