{% extends "settings/base.html" %}

{% block subtitle %}Login &amp; Security{% endblock %}

{% block settings_content %}
    <form action="." method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>Login</legend>
            {% include "forms/_field.html" with field=form.email %}
        </fieldset>
        <fieldset>
            <legend>Password</legend>
            <p>To change your password, please trigger a <a href="{% url "trigger_reset" %}">password reset</a>.</p>
        </fieldset>
    </form>
{% endblock %}
