{% extends "emails/base.html" %}
{% load mail_tags %}
{% autoescape off %}
    {% block title %}{{ settings.MAIN_DOMAIN }} - Password Reset Requested{% endblock title %}
    {% block subtitle %}{{ settings.MAIN_DOMAIN }} - Password Reset Requested{% endblock subtitle %}

    {% block body_greeting %}
        {% email_body_content "Hi there," %}
    {% endblock body_greeting %}

    {% block body_content %}
        {% email_body_content "A password reset was requested for your account ({{ reset.user.email }}) at {{ Config.system.site_name }} (https://{{ settings.MAIN_DOMAIN }})." %}
        {% email_body_content "To reset your password, go to this link:" %}
    {% endblock body_content %}

    {% block body_button %}
        {% email_button button_text="Reset Password" button_link="https://{{ settings.MAIN_DOMAIN }}/auth/reset/{{ reset.token }}/" %}
    {% endblock body_button %}

    {% block body_signature %}
        {% email_body_content "Thanks, Admins @{{ settings.MAIN_DOMAIN }}" %}
    {% endblock body_signature %}

    {% block extra_footer %}
        {% email_footer "If this was not you, then please ignore this message - your password will not be reset if this link is not visited." %}
    {% endblock extra_footer %}
{% endautoescape %}
