{% load activity_tags %}

{% if event.type == "followed" %}
    <div class="follow-banner">
        <a href="{{ event.subject_identity.urls.view }}">
            {{ event.subject_identity.html_name_or_handle }}
        </a> followed you
    </div>
    {% include "activities/_identity.html" with identity=event.subject_identity created=event.created %}
{% elif event.type == "liked" %}
    <div class="like-banner">
        <a href="{{ event.subject_identity.urls.view }}">
            {{ event.subject_identity.html_name_or_handle }}
        </a> liked your post
    </div>
    {% if not event.collapsed %}
        {% include "activities/_post.html" with post=event.subject_post %}
    {% endif %}
{% elif event.type == "mentioned" %}
    <div class="mention-banner">
        <a href="{{ event.subject_identity.urls.view }}">
            {{ event.subject_identity.html_name_or_handle }}
        </a> mentioned you
    </div>
    {% if not event.collapsed %}
        {% include "activities/_post.html" with post=event.subject_post %}
    {% endif %}
{% elif event.type == "boosted" %}
    <div class="boost-banner">
        <a href="{{ event.subject_identity.urls.view }}">
            {{ event.subject_identity.html_name_or_handle }}
        </a> boosted your post
    </div>
    {% if not event.collapsed %}
        {% include "activities/_post.html" with post=event.subject_post event=event %}
    {% endif %}
{% elif event.type == "identity_created" %}
    <div class="follow-banner">
        <a href="{{ event.subject_identity.urls.view }}">
            {{ event.subject_identity.html_name_or_handle }}
        </a> was just created
    </div>
    {% include "activities/_identity.html" with identity=event.subject_identity created=event.created %}
{% else %}
    Unknown event type {{ event.type }}
{% endif %}
