{% load static %}
{% load activity_tags %}
<div class="post" data-takahe-id="{{ post.id }}">

    <a href="{{ post.author.urls.view }}">
        <img src="{{ post.author.local_icon_url }}" class="icon">
    </a>

    <time>
        {% if post.visibility == 0 %}
            <i class="visibility fa-solid fa-earth-oceania" title="Public"></i>
        {% elif post.visibility == 1 %}
            <i class="visibility fa-solid fa-lock-open" title="Unlisted"></i>
        {% elif post.visibility == 2 %}
            <i class="visibility fa-solid fa-lock" title="Followers Only"></i>
        {% elif post.visibility == 3 %}
            <i class="visibility fa-solid fa-at" title="Mentioned Only"></i>
        {% elif post.visibility == 4 %}
        <i class="visibility fa-solid fa-link-slash" title="Local Only"></i>
        {% endif %}
        {% if post.published %}
            <a href="{{ post.url }}" title="{{ post.published }}">{{ post.published | timedeltashort }}</a>
        {% else %}
            <a href="{{ post.url }}" title="{{ post.created }}">{{ post.created | timedeltashort }}</a>
        {% endif %}
    </time>

    {% if request.identity %}
    <div class="actions">
        {% include "activities/_reply.html" %}
        {% include "activities/_like.html" %}
        {% include "activities/_boost.html" %}
        {% if post.author == request.identity %}
        <a title="Menu" class="menu" _="on click toggle .enabled on the next <menu/>">
            <i class="fa-solid fa-caret-down"></i>
        </a>
        <menu>
            <a href="{{ post.urls.action_edit }}">
                <i class="fa-solid fa-pen-to-square"></i> Edit
            </a>
            <a href="{{ post.urls.action_delete }}">
                <i class="fa-solid fa-trash"></i> Delete
            </a>
        </menu>
        {% endif %}
    </div>
    {% endif %}

    <a href="{{ post.author.urls.view }}" class="handle">
        {{ post.author.name_or_handle }} <small>@{{ post.author.handle }}</small>
    </a>

    {% if post.summary %}
        <div class="summary" _="on click toggle .enabled then  toggle .hidden on the next .content">
            {{ post.summary }}
        </div>
    {% endif %}

    <div class="content {% if post.summary %}hidden{% endif %}">
        {{ post.safe_content_local }}
    </div>

    {% if post.edited %}
    <div class="edited" title="{{ post.edited }}">
        <small>Edited {{ post.edited | timedeltashort }} ago</small>
    </div>
    {% endif %}

    {% if post.attachments.exists %}
        <div class="attachments">
            {% for attachment in post.attachments.all %}
                {% if attachment.is_image %}
                    <a href="{{ attachment.remote_url }}" class="image"><img src="{{ attachment.remote_url }}" title="{{ attachment.name }}"></a>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
</div>
