{% extends "base.html" %}

{% block title %}Compose{% endblock %}

{% block content %}
    <form action="." method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>Content</legend>
            {% include "forms/_field.html" with field=form.text %}
            {% include "forms/_field.html" with field=form.content_warning %}
            {% include "forms/_field.html" with field=form.visibility %}
        </fieldset>
        <div class="buttons">
            <button>{% if config_identity.toot_mode %}Toot!{% else %}Post{% endif %}</button>
        </div>
    </form>
{% endblock %}
