{% extends "settings/base.html" %}

{% block title %}Compose{% endblock %}

{% block settings_content %}
    <form action="." method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>Compose</legend>
            {% if reply_to %}
                <label>Replying to</label>
                {% include "activities/_mini_post.html" with post=reply_to %}
            {% endif %}
            <p><i>For more advanced posting options, like editing and image uploads, please use an app.</i></p>
            {{ form.reply_to }}
            {{ form.id }}
            {% include "forms/_field.html" with field=form.text %}
            {% include "forms/_field.html" with field=form.content_warning %}
            {% include "forms/_field.html" with field=form.visibility %}
        </fieldset>
        <div class="buttons">
            <span id="character-counter">{{ config.post_length }}</span>
            <button id="post-button">{% if post %}Save Edits{% else %}Post{% endif %}</button>
        </div>
    </form>
{% endblock %}
