{% extends "base.html" %}

{% block title %}Federated Timeline{% endblock %}

{% block content %}
    {% include "activities/_home_menu.html" %}

    <section class="columns">
        <div class="left-column">
            {% for post in timeline_posts %}
                {% include "activities/_post.html" %}
            {% empty %}
                No posts yet.
            {% endfor %}
        </div>
        <div class="right-column">
            <h2>?</h2>
        </div>

    </section>
{% endblock %}
