{% extends "base.html" %}

{% block subtitle %}Follows{% endblock %}

{% block content %}
    <section class="icon-menu">
        {% for identity, follow_type in page_obj %}
            <a class="option" href="{{ identity.urls.view }}">
                <img src="{{ identity.local_icon_url.relative }}">
                <span class="handle">
                    {{ identity.html_name_or_handle }}
                    <small>@{{ identity.handle }}</small>
                </span>
                {% if follow_type == "outbound" %}
                    <span class="pill">Following</span>
                {% endif %}
                {% if follow_type == "inbound" %}
                    <span class="pill">Follows You</span>
                {% endif %}
            </a>
        {% empty %}
            <p class="option empty">You have no follows.</p>
        {% endfor %}
    </section>

    <div class="pagination">
        {% if page_obj.has_previous %}
            <div class="load-more"><a class="button" href=".?page={{ page_obj.previous_page_number }}">Previous Page</a></div>
        {% endif %}

        {% if page_obj.has_next %}
            <div class="load-more"><a class="button" href=".?page={{ page_obj.next_page_number }}">Next Page</a></div>
        {% endif %}
    </div>
{% endblock %}
