{% extends "base.html" %}

{% block title %}Local Timeline{% endblock %}

{% block content %}
    {% if page_obj.number == 1 %}
        {% include "_announcements.html" %}
    {% endif %}

    {% for post in page_obj %}
        {% include "activities/_post.html" with feedindex=forloop.counter %}
    {% empty %}
        No posts yet.
    {% endfor %}

    <div class="pagination">
        {% if page_obj.has_previous and not request.htmx %}
            <a class="button" href=".?page={{ page_obj.previous_page_number }}">Previous Page</a>
        {% endif %}

        {% if page_obj.has_next %}
            <a class="button" href=".?page={{ page_obj.next_page_number }}" hx-get=".?page={{ page_obj.next_page_number }}" hx-select=".left-column > *:not(.view-options)" hx-target=".pagination" hx-swap="outerHTML" {% if config_identity.infinite_scroll %}hx-trigger="revealed"{% endif %}>Next Page</a>
        {% endif %}
    </div>
{% endblock %}
