{% extends "base.html" %}

{% block title %}Search{% endblock %}

{% block content %}
    <form action="." method="POST">
        {% csrf_token %}
        <fieldset>
            {% include "forms/_field.html" with field=form.query %}
        </fieldset>
        <div class="buttons">
            <button>Search</button>
        </div>
    </form>
    {% if results.identities %}
        <h2>People</h2>
        {% for identity in results.identities %}
            {% include "activities/_identity.html" %}
        {% endfor %}
    {% endif %}
    {% if results.posts %}
        <h2>Posts</h2>
        <section class="icon-menu">
            {% for post in results.posts %}
                {% include "activities/_post.html" %}
            {% endfor %}
        </section>
    {% endif %}
    {% if results.hashtags %}
        <h2>Hashtags</h2>
        <section class="icon-menu">
            {% for hashtag in results.hashtags %}
                {% include "activities/_hashtag.html" with hide_stats=True %}
            {% endfor %}
        </section>
    {% endif %}
    {% if results and not results.identities and not results.hashtags and not results.posts %}
        <h2>No results</h2>
        <p>
            We could not find anything matching your query.
        </p>
        <p>
            If you're trying to find a post or profile on another server,
            try again in a few moments - if the other end is overloaded, it
            can take some time to fetch the details.
        </p>
    {% endif %}
{% endblock %}
