{% extends "base.html" %}

{% block title %}Search{% endblock %}

{% block content %}
    <form action="." method="POST">
        {% csrf_token %}
        <fieldset>
            {% include "forms/_field.html" with field=form.query %}
        </fieldset>
        <div class="buttons">
            <button>Search</button>
        </div>
    </form>
    {% if results.identities %}
        <h2>People</h2>
        {% for identity in results.identities %}
            {% include "activities/_identity.html" %}
        {% endfor %}
    {% endif %}
    {% if results.hashtags %}
        <h2>Hashtags</h2>
        <section class="icon-menu">
        {% for hashtag in results.hashtags %}
            {% include "activities/_hashtag.html" with hide_stats=True %}
        {% endfor %}
        </section>
    {% endif %}
    {% if not results.identities and not results.hashtags %}
        <h2>No results (yet)</h2>
        <p>No results found — not yet, at least. The search swamphens are still
           rooting around behind the scenes and may yet turn something up. If you try your search
           again after a moment, you might get lucky!</p>
    {% endif %}
{% endblock %}
