{% extends "base.html" %}

{% block title %}#{{ hashtag.display_name }} Timeline{% endblock %}

{% block content %}
    <section class="invisible">
        <div class="timeline-name">
            <div class="hashtag">
                <i class="fa-solid fa-hashtag"></i>{{ hashtag.display_name }}
            </div>
        </div>
        {% for post in page_obj %}
            {% include "activities/_post.html" %}
        {% empty %}
            No posts yet.
        {% endfor %}

        <div class="pagination">
            {% if page_obj.has_previous %}
                <a class="button" href=".?page={{ page_obj.previous_page_number }}">Previous Page</a>
            {% endif %}

            {% if page_obj.has_next %}
                <a class="button" href=".?page={{ page_obj.next_page_number }}">Next Page</a>
            {% endif %}
        </div>
    </section>
{% endblock %}
