{% extends "base.html" %}

{% block title %}#{{ hashtag.display_name }} Timeline{% endblock %}

{% block content %}
    <div class="timeline-name">
        <div class="inline follow follow-hashtag">
            {% include "activities/_hashtag_follow.html" %}
        </div>
        <div class="hashtag">
            <i class="fa-solid fa-hashtag"></i>{{ hashtag.display_name }}
        </div>
    </div>
    {% for post in page_obj %}
        {% include "activities/_post.html" %}
    {% empty %}
        No posts yet.
    {% endfor %}

    <div class="pagination">
        {% if page_obj.has_previous %}
            <a class="button" href=".?page={{ page_obj.previous_page_number }}">Previous Page</a>
        {% endif %}

        {% if page_obj.has_next %}
            <a class="button" href=".?page={{ page_obj.next_page_number }} {% if config_identity.infinite_scroll %}hx-trigger="revealed"{% endif %}">Next Page</a>
        {% endif %}
    </div>
{% endblock %}
