{% for announcement in announcements %}
    <div class="announcement">
        <a hx-post="{{ announcement.urls.dismiss }}" hx-target="closest .announcement" hx-swap="delete" class="dismiss" title="Dismiss announcement"><i class="fa-solid fa-xmark"></i></a>
        {{ announcement.html }}
    </div>
{% endfor %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <div class="message {{ message.tags }}">
                <a class="dismiss" title="Dismiss" _="on click remove closest <div/>"><i class="fa-solid fa-xmark"></i></a>
                {{ message }}
            </div>
        {% endfor %}
    </ul>
{% endif %}
