{% if opengraph.disabled %}
    <!-- OpenGraph tagging disabled on this page -->
{% else %}
{% block opengraph %}
    <!-- Begin OpenGraph tagging -->
    {% for key, value in opengraph.items %}
        <meta content="{{ value|striptags }}" property="{{ key }}"/>
        {% if key == "og:description" %}
            {# Mastodon duplicates this one tag without the og: prefix. Not sure why #}
            <meta content="{{ value }}" property="description"/>
        {% endif %}
    {% endfor %}
    {% block opengraph_extra %}
    {% endblock %}-->
    <!-- End OpenGraph tagging -->
{% endblock %}
{% endif %}
