{% extends "base_plain.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <form action="." method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>Login</legend>
            {{ form.non_field_errors }}
            {% for field in form %}
                {% include "forms/_field.html" %}
            {% endfor %}
        </fieldset>
        <input type="hidden" name="next" value="{{ next }}" />
        <div class="buttons">
            <a href="{% url "trigger_reset" %}" class="secondary button left">Forgot Password</a>
            <button>Login</button>
        </div>
    </form>
{% endblock %}
