{% extends "base.html" %}

{% block title %}Create Account{% endblock %}

{% block content %}
    <form action="." method="POST">
        {% if form %}
            {% csrf_token %}
            <fieldset>
                <legend>Create An Account</legend>
                {% if signup_text %}{{ signup_text }}{% endif %}
                {% for field in form %}
                    {% include "forms/_field.html" %}
                {% endfor %}
            </fieldset>
            <div class="buttons">
                <button>Create</button>
            </div>
        {% else %}
            <fieldset>
                <legend>Create An Account</legend>
                {% if signup_text %}
                    {{ signup_text }}
                {% else %}
                    <p>We're not accepting new users at this time.</p>
                {% endif %}
            </fieldset>
        {% endif %}
    </form>
{% endblock %}
