{% extends "base.html" %}

{% block title %}Create Account{% endblock %}

{% block content %}
    <form action="." method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>Create An Account</legend>
            {% if signup_text %}{{ signup_text }}{% endif %}
            {% if config.signup_allowed %}
            {% for field in form %}
                {% include "forms/_field.html" %}
            {% endfor %}
            {% else %}
                {% if not config.signup_text %}
                <p>Not accepting new users at this time</p>
                {% endif %}
            {% endif %}

        </fieldset>

        {% if config.signup_allowed %}
        <div class="buttons">
            <button>Create</button>
        </div>
        {% endif %}

    </form>
{% endblock %}
