<div class="identity-banner">
  <a href="{{ identity.urls.view }}" tabindex="-1" class="avatar-link">
    <img
      src="{{ identity.local_icon_url.relative }}"
      class="icon"
      alt="Avatar for {{ identity.name_or_handle }}"
      loading="lazy"
      data-handle="{{ identity.name_or_handle }}"
      onerror="this.onerror=null;generate_avatar(this)"
    >
  </a>

  <a href="{{ identity.urls.view }}" class="handle">
    <div class="link">{{ identity.html_name_or_handle }}</div>
    <small>@{{ identity.handle }}</small>
  </a>
</div>