<nav>
    <a href="/identity/select/" {% if identities %}class="selected"{% endif %} title="Select Identity">
        <i class="fa-solid fa-users-viewfinder"></i> Select Identity
    </a>
    <a href="/identity/create/" {% if form %}class="selected"{% endif %} title="Create Identity">
        <i class="fa-solid fa-plus"></i> Create Identity
    </a>
    <a href="/auth/logout/" title="Logout">
        <i class="fa-solid fa-right-from-bracket"></i> Logout
    </a>
    {% if request.user.admin %}
    <h3>Administration</h3>
    <a href="{% url "admin_domains" %}" {% if section == "domains" %}class="selected"{% endif %} title="Domains">
        <i class="fa-solid fa-globe"></i> Domains
    </a>
    {% endif %}
</nav>
