<nav>
    <a href="{% url "identity_select" %}" {% if identities %}class="selected"{% endif %} title="Select Identity">
        <i class="fa-solid fa-users-viewfinder"></i>
        <span>Select Identity</span>
    </a>
    <a href="{% url "identity_create" %}" {% if form %}class="selected"{% endif %} title="Create Identity">
        <i class="fa-solid fa-plus"></i>
        <span>Create Identity</span>
    </a>
    <a href="{% url "logout" %}" title="Logout">
        <i class="fa-solid fa-right-from-bracket"></i>
        <span>Logout</span>
    </a>
    {% if request.user.admin %}
        <hr>
        <h3>Administration</h3>
        <a href="{% url "admin_domains" %}" {% if section == "domains" %}class="selected"{% endif %} title="Domains">
            <i class="fa-solid fa-globe"></i>
            <span>Domains</span>
        </a>
    {% endif %}
</nav>
