<div class="inline follow {% if inbound_follow %}has-reverse{% endif %}">
    <div class="actions" role="menubar">
        {% if request.user in identity.users.all %}
            <a href="{% url "settings_profile" handle=identity.handle %}" class="button" title="Edit Profile">
                <i class="fa-solid fa-user-edit"></i> Edit
            </a>
            {% endif %}
        {% if request.user.admin or request.user.moderator %}
            <a title="Menu" class="menu button" _="on click or keyup[key is 'Enter'] toggle .enabled on the next <menu/> then halt" aria-haspopup="menu" tabindex="0">
                <i class="fa-solid fa-bars"></i>
            </a>
            <menu>
                <a href="{{ identity.urls.admin_edit }}" role="menuitem">
                    <i class="fa-solid fa-user-gear"></i> View in Admin
                </a>
            </menu>
        {% endif %}
    </div>
</div>
