{% extends "base.html" %}

{% block title %}Create Identity{% endblock %}

{% block content %}
    <form action="." method="POST">
        <h1>Create New Identity</h1>
        <p>
            You can have multiple identities - they are totally separate, and share
            nothing apart from your login details. They can also be shared among multiple
            users, so you can use them for company or project accounts.
        </p>
        {% csrf_token %}
        <fieldset>
            <legend>Identity Details</legend>
            {% include "forms/_field.html" with field=form.username %}
            {% include "forms/_field.html" with field=form.domain %}
            {% include "forms/_field.html" with field=form.name %}
            {% include "forms/_field.html" with field=form.discoverable %}
        </fieldset>
        <div class="buttons">
            <button>Create</button>
        </div>
    </form>
{% endblock %}
