{% extends "identity/base.html" %}

{% block title %}Select Identity{% endblock %}

{% block content %}
    <section class="icon-menu">
        {% for identity in identities %}
            <a class="option" href="{{ identity.urls.activate }}">
                <img src="{{ identity.local_icon_url.relative }}">
                <span class="handle">
                    {{ identity.html_name_or_handle }}
                    <small>@{{ identity.handle }}</small>
                </span>
                <button class="right secondary" _="on click go to url {{ identity.urls.view }} then halt">View</button>
            </a>
        {% empty %}
            <p class="option empty">You have no identities.</p>
        {% endfor %}
        <a href="{% url "identity_create" %}" class="option new">
            <i class="fa-solid fa-plus"></i> Create a new identity
        </a>
    </section>
{% endblock %}
