{% extends "base.html" %}
{% load static %}

{% block title %}Select Identity{% endblock %}

{% block content %}
    <section class="modal identities">
        <h1>Select Identity</h1>
        {% for identity in identities %}
            <a class="option" href="{{ identity.urls.activate }}">
                {% if identity.icon_uri %}
                    <img src="{{ identity.icon_uri }}" width="32">
                {% else %}
                    <img src="{% static "img/unknown-icon-128.png" %}" width="32">
                {% endif %}
                {{ identity }}
                <small>@{{ identity.handle }}</small>
            </a>
        {% empty %}
            <p class="option empty">You have no identities.</p>
        {% endfor %}
        <a href="/identity/create/" class="option new">
            <i class="fa-solid fa-plus"></i> Create a new identity
        </a>
        <a href="/auth/logout/" class="option new">
            <i class="fa-solid fa-right-from-bracket"></i> Logout
        </a>
    </section>
{% endblock %}
