{% extends "base.html" %}
{% load static %}

{% block title %}{{ identity }}{% endblock %}

{% block content %}
    <h1 class="identity">
        {% if identity.icon_uri %}
            <img src="{{identity.icon_uri}}" class="icon">
        {% else %}
            <img src="{% static "img/unknown-icon-128.png" %}" class="icon">
        {% endif %}
        {{ identity }} <small>@{{ identity.handle }}</small>
    </h1>

    {% if not identity.local %}
        {% if not identity.actor_uri %}
            <p class="system-note">
                The system is still fetching this profile. Refresh to see updates.
            </p>
        {% else %}
            <p class="system-note">
                This is a member of another server.
                <a href="{{ identity.profile_uri }}">See their original profile</a>
            </p>
        {% endif %}
    {% endif %}

    {% for status in statuses %}
        {% include "statuses/_status.html" %}
    {% empty %}
        No statuses yet.
    {% endfor %}
{% endblock %}
